@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <a href="/Create">Create</a>
  <a href="/Read">Read</a>
  <a href="/Update">Update</a>
  <a href="/Delete">Delete</a>
</div>
